body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #1a1a1a, #333);
    color: white;
    display: flex;
    justify-content: center;
}

.container{
    background: #1a1a1a;
    padding: 30px;
    border-radius: 12px;
    width: 80%;
    max-width: 400px;
    margin: auto;
    text-align: justify;
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.4);
    border: 1px solid #d4af37;
}
h1{
    color: gold;
}


input{
   width: 92%;
   padding: 15px;
   margin: 8px 0;
   border-radius: 6px;
   border: none;
   outline: none;
}

button{
    background: linear-gradient(45deg, #d4af37, #ffd700);
    color: black;
    border: none;
    padding: 15px;
    margin-top: 15px;
    width: 100%;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px gold;
}
.start{
    display: none;
    
}
span{
    color: gold;
    font-size: 20px;
}

#timeMsg{
    color: gold;
    font-weight: bold;
    margin-top: 10px;
}

h3{
    color: gold;
}